__pycache__/
*.pyc
.env
node_modules/
dist/
backend/models/*.h5
backend/models/*.pkl
backend/models/X_train.csv
backend/models/X_test.csv
backend/models/y_train.csv
backend/models/y_test.csv
backend/models/*.png
*.csv
PlantVillage/
.ipynb_checkpoints/
notebooks/
.DS_Store
Thumbs.db